@media screen and (max-width: 1366px) and (max-height: 768px) {
    .Busqueda-container {
        flex-direction: column;
        padding: 10px;
    }

    .input-busqueda {
        max-width: 250px;
    }

    .resultados-busqueda {
        gap: 20px 0;
        padding: 50px 0;
    }

    .card {
        width: 90%;
        height: 70px;
        padding: 0.5rem 1.2rem;
    }

    .card-button {
        width: 15%;
        left: 88%;
    }

    .modal-content {
        width: 70%;
        height: 90%;
    }

    .crear-proyecto-button {
        top: 10px;
        right: 10px;
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .modal-view-content {
        width: 70%;
        /* Aumenta el ancho para mejor uso del espacio */
        height: 85%;
        /* Reduce la altura para evitar desbordamientos */
        padding: 15px;
    }

    .modal-view-details,
    .modal-view-files,
    .modal-view-dates {
        width: 90%;
        /* Ajusta el ancho para mayor espacio */
    }

    .modal-view-details {
        height: 12%;
    }

    .modal-view-files {
        height: 12%;
    }

    .modal-view-dates {
        height: 35%;
    }

    .file-list {
        flex-wrap: wrap;
        /* Permite que los archivos se acomoden mejor */
    }

    .file-list>li {
        width: 45%;
        /* Permite que dos elementos entren por fila */
        font-size: 14px;
        /* Ajusta el tamaño de texto */
    }

    table {
        font-size: 14px;
        /* Reduce el tamaño de texto para mejor visibilidad */
    }

    td,
    th {
        padding: 4px;
        /* Reduce padding para más contenido visible */
    }

    .dates-table {
        margin-top: 5px;
    }

    span {
        width: 100%;
        /* Asegura que el contenido se ajuste bien */
    }
}