@media screen and (max-height: 800px) {
    .Busqueda-container {
        flex-direction: column;
    }

    .input-busqueda {
        max-width: 250px;
    }

    .resultados-busqueda {
        gap: 30px 0;
        padding: 30px 0;
    }

    .card {
        width: 90%;
        height: 70px;
        padding: 1rem 1.2rem;
    }

    .modal-content {
        width: 70%;
        height: 90%;
    }

    .crear-proyecto-button {
        top: 10px;
        right: 10px;
        font-size: 14px;
        padding: 8px 16px;
    }

    .modal-view-content {
        width: 70%;
        height: 90%;
        padding: 15px;
    }

    .modal-view-details,
    .modal-view-files,
    .modal-view-dates {
        width: 90%;
    }

    .modal-view-details {
        height: 10%;
    }

    .modal-view-files {
        height: 15%;
    }

    .modal-view-dates {
        height: 40%;
    }

    .file-list {
        flex-wrap: wrap;
    }

    .file-list>li {
        width: 20%;
        font-size: 14px;
    }

    table {
        font-size: 14px;
    }

    td,
    th {
        padding: 4px;
    }

    .dates-table {
        margin-top: 5px;
    }

    span {
        width: 100%;
    }

}